body {
  font-family: system-ui;
}
.app {
  height: 100vh;
  display: flex;
}

#sidebar{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: #4A164B;
  border-right: 1px solid rgba(189, 189, 189, 0.788);
}

#channel-list {
  height: 100vh;
  background-color: #4A164B;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#title h1 {
  font-size: 20px;
  margin-bottom: 0px;
}

#channel-title {
  z-index: 10; 
  background-color: white;
}

#title, #channel-title h2 {
  padding: 15px 0px 10px 20px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.788);
}

#channel-title h2 {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  font-weight: bold;
}

#channels {
  padding: 0px 0px 10px 0px;
}

#messages-list {
  padding: 0px;
}

.message {
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: center;
  img {
    margin-right: 10px;
  }
  &:hover {
    background: rgba(194, 194, 194, 0.185);
  }
}

#messages {
  overflow: scroll;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#header h5 {
  font-size: 14px;
  margin: 0px;
  font-weight: bolder;
  span.time {
    font-weight: lighter;
  }
}

#message-form {
  margin: 0px 20px 0px 20px;
  display: flex;

  input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.send-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #4A164B;
  color: white;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
  &:hover {
    background-color: #2f0d30;
    cursor: pointer;
  }
}

.active {
  background-color: #1164A3;
}


